Source: ocis-web-extensions
Section: net
Priority: optional
Maintainer: donmor <donmor3000@hotmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13), nodejs:native (>= 24), npm, jq
Standards-Version: 4.7.2
Homepage: https://github.com/owncloud/web-extensions
#Vcs-Browser: https://salsa.debian.org/debian/web-extensions
#Vcs-Git: https://salsa.debian.org/debian/web-extensions.git

Package: ocis-web-app-external-sites
Architecture: all
Depends: ocis
Description: add external sites to the ownCloud Web app menu

Package: ocis-web-app-unzip
Architecture: all
Depends: ocis
Description: ownCloud Web unzip

